@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Normally default font size 16px for most of the browsers. So 16px = 1rem, but it makes calculations difficult  */
  font-size: 62.5%;
  /* This makes 1rem = 10px, so the calculation becomes easy. Like 18px = 1.8rem, 33px = 3.3rem, etc. */
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("images/bg-mobile.svg");
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: var(--violet);
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 3.6rem;
  max-width: 111rem;
}

header {
  margin-bottom: 5rem;
}

.logo {
  width: 14rem;
}

main {
  width: 30.3rem;
  margin: auto;
}

.mockup {
  margin-bottom: 5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 1.6rem;
}

p {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: lighter;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}

.btn {
  text-align: center;
  margin-bottom: 7rem;
}

button {
  /* width: 200px;
    height: 42px; */
  background-color: var(--white);
  border: none;
  border-radius: 5rem;
  padding: 1.2rem 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

button a {
  text-decoration: none;
  color: var(--violet);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: var(--soft-magenta);
  cursor: pointer;
}

button:focus {
  outline: none;
}

footer {
  text-align: center;
}

.social {
  height: 3.5rem;
  width: 3.5rem;
  border: 0.1px solid var(--white);
  border-radius: 10rem;
  padding-top: 0.6rem;
  margin: 0 0.4rem;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
}

.social:hover {
  cursor: pointer;
  border-color: var(--soft-magenta);
}

.fab {
  color: var(--white);
}

.social:hover .fab {
  color: var(--soft-magenta);
}

@media (min-width: 481px) {
  main {
    width: 40rem;
    margin: auto;
  }

  h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 58rem;
  }
}

@media (min-width: 1025px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: 180%;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .container {
    margin: 0 auto;
    padding-top: 15.5rem;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .mockup {
    flex: 1.35;
    margin-right: 2rem;
  }

  .text {
    flex: 1;
    margin-left: 2rem;
    padding-top: 4rem;
  }

  .btn {
    text-align: left;
    /* margin-bottom: 70px; */
  }

  button {
    padding: 1.5rem 7rem;
  }

  button a {
    font-size: 1.8rem;
  }

  h1,
  p {
    text-align: left;
  }

  footer {
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 15.5rem 0 0;
  }

  .mockup {
    margin-right: 0;
  }

  .text {
    margin-left: 4.1rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.6rem;
  }

  footer {
    text-align: right;
  }
}
